.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    background-color: #f5f5f5;
}

.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 40px;
    text-align: center;
}

.login-img {
    width: 50%;
    background-image: url('./assets/imgs/My password-pana.png');
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    padding: 12px;
    margin: 5px 0;
    font-size: 16px;
}

.login-title {
    color: #153361;
    font-weight: bold;
    font-size: 2.5em;
}

.login-subtitle {
    color: #435b77;
    font-size: 1.5em;
}

/* .login-inputs {  
    margin-top: 15px; 
    width: 80%;
} */

.login-inputs > * {
    font-size: 1.2em;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 15px 0px;
    background-color: #eaeaea;

    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #112dcb;
      }
}

.loginButton {
    width: 100%;
    max-width: 530px;
    padding: 12px;
    margin-top: 20px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2575fc;
    }
}

