.mod-card {
    background-color: #eaeaea;
    border-radius: 20px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 450px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 2.6px;
}

.mod-card > div {
    margin: 15px 0px;
}

.mod-card .img {
    height: 120px;
    width: 100%;
    flex-grow: 1;
    background-image: url('../assets/imgs/Chat\ bot-bro\ \(1\).png');
    background-size: cover;
    background-position: center;
}

.mod-card .modulo {
    color: #153361;
    font-weight: bold;
    font-size: 22px;
}

.mod-card .text {
    color: #153361;
}

.mod-card .button {
    color: #f2f2f2;
    font-size: 14px;
    padding: 9px 14px;
}

.alternative {
    background-color: #f2f2f2;
    color: #153361;
}

.alternative:hover {
    background-color: #bdbdbd;
}

